<section class="sub-header fixed-top">
    <div class="container-fluid">
        <ul class="list-group list-group-horizontal">
            <li class="list-group-item  active">All Events</li>
            <li class="list-group-item">Running</li>
            <li class="list-group-item">Ironman Triathlon</li>
            <li class="list-group-item">Cycling</li>
            <li class="list-group-item">Kids & Family</li>
            <li class="list-group-item">Dance & Cheers</li>
            <li class="list-group-item">Learning & Arts</li>
            <li class="list-group-item">Outdoors</li>
        </ul>
    </div>
</section>