<app-header></app-header>
<div class="auth-wrap py-5">
    <div class="container">
        <!-- <div class="row justify-content-center mb-5">
            <div class="col-md-5 text-end">
                <div class="auth-btn">
                    <button class="btn btn-primary">Login</button>
                </div>
            </div>

            <div class="col-md-5">
                <div class="auth-btn">
                    <button class="btn btn-secondary">Register</button>
                </div>
            </div>
        </div> -->

        <div class="row justify-content-center">
            <div class="col-xl-5 left-col">
                <div class="auth-left-card h-100 d-flex align-items-center">
                    <div class="card ">
                        <div class="card-body text-center">
                            <div class="auth-logo">
                                <img src="assets/images/logo.svg" alt="">
                            </div>

                            <h5 class="card-title">Lorem Ipsum Dolor Sit Amet</h5>
                            <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry Lorem Ipsum.</p>
                        
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-5 right-col ">
                <div class="auth-right-card h-100">
                    <div class="card h-100">
                        <div class="card-body ">
                            <h5 class="card-title mb-2">Great! Create New Password</h5>
                            <p class="card-text">After creating a new password, it requires to login</p>
                            <div class="auth-form">
                                <div class="custom-form-input date-radius mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input type="text" matInput placeholder="Create New Password" >   
                                    </mat-form-field>
                                </div> 

                                <div class="custom-form-input date-radius mb-3">
                                    <mat-form-field appearance="outline" class="w-100">
                                        <input matInput [type]="hide ? 'password' : 'text'" placeholder="Confirm New Password">           
                                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                        </button>
                                    </mat-form-field>
                                </div> 
                              

                                <div class="mt-4">
                                    <button class="btn btn-primary w-100" routerLink="/auth/login">Reset</button>
                                </div>

                                


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


    </div>