<div class="list-group">
    <div class="item-list" >
  
      <a  routerLink="/event/dashboard" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        Dashboard
      </a>

      <!-- <a  routerLink="/event/events" routerLinkActive="active"
        class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
        Event
      </a>
   -->
 
  
  
  
      <div class="logout" >
        <a routerLink="/home"  class="list-group-item d-flex align-items-center gap-2 list-group-item-action">
         
          Logout
        </a>
  
      </div>
  
  
  
    </div>
    