<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false"
    >
      <!-- <mat-toolbar> -->
        <div>
          <div class="sidenav-logo">
            <img src="assets/images/logo_header.svg" alt="logo" class="" />
          </div>
        </div>
      <!-- </mat-toolbar> -->
       
  
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary" class="justify-content-between">
      <div class="d-flex align-items-center gap-2">
        <div class="dropdown">
          <button type="button" class="btn custom-dropdown  btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown">
            <img src="/assets/images/lang_eng_active.svg" alt="lang" width="30px" height="30px">
             English
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Arabic</a></li>
            <li><a class="dropdown-item">Arabic</a></li>
            <li><a class="dropdown-item">Arabic</a></li>
          </ul>
        </div>


        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      </div>
  
        
        <div>
          <!-- <button routerLink="/admin/setting" routerLinkActive="active" type="button" matTooltip="Setting" class="me-2" mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
          
          <button type="button" matTooltip="Logout"  mat-icon-button>
            <mat-icon>exit_to_app</mat-icon>
          </button> -->

          <div class="nav-item dropdown account-drop ">
            <a
              class="nav-link dropdown-toggle"
            
              id="navbarDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >

              <img src="assets/images/user.svg" alt="user" width="30px" height="30px">
              Organizer
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li> <a class="dropdown-item">Dashboard</a></li>
              <li>  <a class="dropdown-item">My Events</a></li>
         
            </ul>
          </div>

        </div>
  
        <!-- <span>admin</span> -->
      </mat-toolbar>
      <!-- Add Content Here -->
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
  