<div class="main-wrapper">
  <div class="heading-title">
    <h3>Dashboard</h3>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <div class="row">
        <div class="col-md-6 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-1">
            <div class="card-body">
              <p class="card-text">Ongoing Events</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img src="assets/images/ds_total_users-6.svg" alt="users" />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">3</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-6.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-2">
            <div class="card-body">
              <p class="card-text">Total participants in Ongoing Event</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img src="assets/images/ds_total_users-3.svg" alt="users" />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">3</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-6.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-3">
            <div class="card-body">
              <p class="card-text">Upcoming Events</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img
                      src="assets/images/ds_total_users_grn.svg"
                      alt="users"
                    />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">2</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-6.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-4">
            <div class="card-body">
              <p class="card-text">Past Events</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img src="assets/images/ds_total_users.svg" alt="users" />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">77</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-6.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-5">
            <div class="card-body">
              <p class="card-text">Total Registered Participants</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img src="assets/images/ds_total_users-4.svg" alt="users" />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">536</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-4.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>

        <div class="col-md-6 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-6">
            <div class="card-body">
              <p class="card-text">Participants Last Week</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img src="assets/images/ds_total_users-5.svg" alt="users" />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">12</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-5.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>

        <div class="col-md-12 mb-4 d-flex align-items-stretch my-2">
          <div class="card card-7">
            <div class="card-body">
              <p class="card-text">Total Revenue</p>
              <div
                class="justify-content-between align-items-center mt-4 d-flex gap-3"
              >
                <div>
                  <div class="dash-icon">
                    <img src="assets/images/ds_total_users-1.svg" alt="users" />
                  </div>
                </div>
                <div class="justify-content-center d-flex flex-column">
                  <h5 class="card-title">395 SAR</h5>
                </div>
              </div>
            </div>
            <img
              src="assets/images/user_pic_placeholder-1.svg"
              class="bg-trans"
              alt="dishes_trans"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-8">
        

        <div class="select-Date-pnl mb-4">
            <div class="custom-calender">
                <mat-calendar ></mat-calendar>
            </div>
        </div>
    </div>
  </div>


  <div class="row mt-4">
    <div class="heading-title mb-3">
      <h3>Results</h3>
    </div>
  </div>

  <div class="filter">
    <div class="card">
      <div class="card-body">

        <div class="row align-items-center">
          <div class=" col-lg-10 col-xl-10 my-2">
            <div class="form-group">
              <select class="form-select select-bold">
                <option value="1">3X3 Community Championship Quest 1 2024 Dabi</option>
                <option value="2">Lorem</option>
                <option value="3">Lorem</option>
                <option value="4">Lorem</option>
                
              </select>
          </div>
        </div>

        <div class=".col-lg-2 col-xl-2 my-2">
          <button class="btn btn-primary w-100 rounded-3">Download PDF</button>
        </div>

        </div>

        <div class="row align-items-center">
          <div class="col-lg-6 col-xl-2 my-2">
            <div class="form-group has-search">
              <span class="bi bi-search form-control-feedback"></span>
              <input
                type="text"
                class="form-control"
                placeholder="Search by name, bib no....."
              />
            </div>
          </div>
      
          <div class="col-lg-6 col-xl-2 my-2">
            <div class="form-group has-search">
              <span class="bi bi-person-fill form-control-feedback"></span>
              <select class="form-select">
                <option value="" selected disabled>Gender</option>
                <option value="1">Male</option>
                <option value="2">Female</option>
            
              </select>
            </div>
          </div>

          <div class="col-lg-6 col-xl-2 my-2">
            <div class="form-group has-search">
              <span class="bi bi-calendar form-control-feedback"></span>
              <select class="form-select">
                <option value="" selected disabled>Age</option>
                <option value="1">Lorem</option>
                <option value="2">Lorem</option>
                <option value="3">Lorem</option>
                <option value="4">Lorem</option>
                <option value="5">Lorem</option>
              </select>
            </div>
          </div>

          <div class="col-lg-6 col-xl-2 my-2">
            <div class="form-group has-search">
              <span class="bi bi-geo-alt-fill form-control-feedback"></span>
              <select class="form-select">
                <option value="" selected disabled>Country</option>
                <option value="1">Lorem</option>
                <option value="2">Lorem</option>
                <option value="3">Lorem</option>
                <option value="4">Lorem</option>
                <option value="5">Lorem</option>
              </select>
            </div>
          </div>
      
          <div class="col-lg-6 col-xl-2 my-2">
            <div class="form-group has-search">
              <span class="bi bi-calendar-heart form-control-feedback"></span>
              <select class="form-select">
                <option value="" selected disabled>Distance</option>
                <option value="1">Lorem</option>
                <option value="2">Lorem</option>
                <option value="3">Lorem</option>
                <option value="4">Lorem</option>
                <option value="5">Lorem</option>
              </select>
            </div>
          </div>
      
          <div class="col-lg-6 col-xl-2 my-2">
            <div class="form-group has-search">
              <span
                class="bi bi bi-calendar-heart form-control-feedback"
              ></span>
              <select class="form-select">
                <option value="" selected disabled>Event Type</option>
                <option value="1">Lorem</option>
                <option value="2">Lorem</option>
                <option value="3">Lorem</option>
                <option value="4">Lorem</option>
                <option value="5">Lorem</option>
              </select>
            </div>
          </div>
      
          
        </div>
      </div>
    </div>
  </div>



  <div class="table-responsive">
    <table mat-table [dataSource]="dataSource1" class="w-100">
        <ng-container matColumnDef="rank">
            <th mat-header-cell *matHeaderCellDef>Rank</th>
            <td mat-cell *matCellDef="let element; let i = index">
                {{ MatPaginator1.pageIndex * MatPaginator1.pageSize + (i + 1) }}
            </td>
        </ng-container>

        <ng-container matColumnDef="number">
            <th mat-header-cell *matHeaderCellDef>Bib Number</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.number}} 
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef>Name</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.name }}
            </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef>Image</th>
            <td mat-cell *matCellDef="let element">
              <img src="assets/images/marathon.jpg" alt="" width="49px" height="35px">
            </td>
        </ng-container>

        <ng-container matColumnDef="gender">
            <th mat-header-cell *matHeaderCellDef>Gender</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.gender }}
            </td>
        </ng-container>

        <ng-container matColumnDef="age">
            <th mat-header-cell *matHeaderCellDef>Age</th>
            <td mat-cell *matCellDef="let element">
              {{ element?.age }}
            </td>
        </ng-container>



        <ng-container matColumnDef="dob">
            <th mat-header-cell *matHeaderCellDef>Date of birth</th>
            <td mat-cell *matCellDef="let element">
                {{ element?.dob }}
            </td>
        </ng-container>

        <ng-container matColumnDef="country">
          <th mat-header-cell *matHeaderCellDef>Country</th>
          <td mat-cell *matCellDef="let element">
            <div class="d-flex justify-content-center align-items-center gap-2">
              <img src="assets/images/marathon.jpg" alt="" width="20px" height="20px" class="rounded-circle" >
              {{ element?.country }}
            </div>
          </td>
      </ng-container>

      <ng-container matColumnDef="event_type">
        <th mat-header-cell *matHeaderCellDef>Event Type</th>
        <td mat-cell *matCellDef="let element">
            {{ element?.event_type }}
        </td>
    </ng-container>

    <ng-container matColumnDef="time">
      <th mat-header-cell *matHeaderCellDef>Time</th>
      <td mat-cell *matCellDef="let element">
          {{ element?.time }}
      </td>
  </ng-container>

        



        <tr mat-header-row *matHeaderRowDef="displayedColumns1; sticky: true"></tr>

        <tr mat-row *matRowDef="let row; columns: displayedColumns1"></tr>
    </table>
</div>
<mat-paginator #MatPaginator1="matPaginator" [pageSizeOptions]="[10, 20, 30]">
</mat-paginator>





</div>
