<footer>
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-xl-4 mb-3">
                <div class="footer-logo mb-3">
                    <img src="assets/images/logo_footer.svg" alt="">
                </div>

                <div class="footer-txt">
                    <p>A digital sports platform that serves all segments of society, men and women who practice various sports, to achieve their goals in a distinctive and interesting way of presenting it. It also helps sports trainers provide their services to reach the largest number of their followers and benefit from Harawla sports services.</p>
                </div>

            </div>

            <div class="col-xl-2 mb-3">

                <div class="footer-head">
                    <h5>Arithmetic</h5>
                </div>

                <div class="footer-list">
                    <ul class="">
                        <li class="">Socialist</li>
                        <li class="">Nutrition Options</li>
                        <li class="">My Exercise Schedule</li>
                        <li class="">Sports Programs</li>
                      </ul>
                </div>

            </div>

            <div class="col-xl-2 mb-3">
                <div class="footer-head">
                    <h5>Information</h5>
                </div>

                <div class="footer-list">
                    <ul class="">
                        <li class="">About</li>
                        <li class="">FAQs</li>
                        <li class="">Articles</li>
                        <li class="">Contact Us</li>
                      </ul>
                </div>
            </div>

            <div class="col-xl-3 mb-3">
                <div class="footer-head">
                    <h5>Get The App</h5>
                </div>

                <div class="app-btn d-flex justify-content-between mt-5">
                    <img src="assets/images/play_store.png" alt="play-store" />
                    <img src="assets/images/app_store.png" alt="play-store" />
                </div>

                <div class="social-icon d-flex gap-2 justify-content-end mt-5">
                    <img src="assets/images/facebook.png" alt="facebook">
                    <img src="assets/images/google.png" alt="google">
                    <img src="assets/images/facebook.png" alt="facebook">
                    <img src="assets/images/google.png" alt="google">

                </div>

            </div>

        </div>
    </div>

    <div class="copyright">
        <p>Copyright ©Harwalah. 2023-2024. All rights reserved.</p>
    </div>

</footer>