.package-wrap {
    padding: 140px 0px 10px 0px;
}

.package-card .card .card-header {
    padding-top: 55px;
    background: transparent linear-gradient(249deg, rgb(224, 111, 0, 0.1) 0%, rgb(252, 181, 111, 0.1) 100%) 0% 0% no-repeat padding-box;
    border-radius: 10px;
    /* opacity: 0.1; */
    text-align: center;
    border-bottom: none;
    border: 1px solid #E06F00;
    box-shadow: 0px 14px 26px #E06F0021;
}

.package-card .card {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    /* box-shadow: 0px 14px 26px #E06F0021;
    \ */
    border: none;
    border-radius: 10px;
    position: relative;
    width: 100%;
}

.package-box {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #E06F00;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    padding: 10px;
    width: 80%;
    color: #E16F00;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}


.package-plan {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: end;
}

.plan-txt h6 {
    font-size: 20px;
    font-weight: bold;
    color: #383838;
}

.plan-txt h5 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
}

.text-success {
    color: #61B92B !important;
}

.text-muted {
    color: #B1B1B1 !important;
}

.diamond img {
    width: 60px;
}

.discount {
    background: #FC7A6F 0% 0% no-repeat padding-box;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: #FFFFFF;
    padding: 8px;
    width: 150px;
}



.w-150{
    width: 150px;
}

.package-card .card-footer{
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    padding-bottom: 1rem;
}

.package-card .card-body{
    padding: 30px  10px 25px 10px;
}

.w-130{
    width: 130px;
}


.payment-card .card{
    background: #FCFCFC 0% 0% no-repeat padding-box;
    border: none;
}

.payment-card .card .card-text{
    font-size:14px;
    font-weight: bold;
    text-align: center;
    color: #383838;
}

.pay-box{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pay-box p{
    font-size:14px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #383838;
    margin-bottom: 0px;
}

.dropdown{
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color:#B45520;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


.bi-chevron-down::before {
    line-height: 2;
    vertical-align: 0;
}

.bi-chevron-right::before {
    line-height: 2;
    vertical-align: 0;
}


.small{
    font-size:14px;
    letter-spacing: 0.28px;
    color: #C3C3C3;
    margin-bottom: 0;
}


.code-input{
    background: #FCFCFC 0% 0% no-repeat padding-box;
    padding: 15px;
    margin-bottom: 10px;
}

 /* .btn-outline-primary{
    border: 1px solid #E06F00;
    border-radius: 27px;
    opacity: 1;
    padding: 12px 15px;

} */

.btn-primary{
    border: 1px solid #E06F00;
}

.btn-outline-primary{
    background-color: #ffffff;
    border-radius: 32px;
    border: 1px solid #E06F00;
    padding: 12px 15px;
    text-align: center;
    font-size: 15px;
    color: var(--primary-color);
    box-shadow: none !important;
}

.code-txt p{
    font-size:18px;
    font-weight: bold;
    color: #B1B1B1;
    margin-bottom: 0;
}

.dis{
    font-size:14px;
    color: #7C7C7C;
    font-weight: normal;
}